body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #898383;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#currentPlayer {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 2px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #577155;
    font-size: 2em;
    cursor: pointer;
    border: 2px solid #e97d7d; /* Added border for better visibility */
}

.cell:hover {
    background-color: #92c51a;
}

#resetButton {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#resetButton:hover {
    background-color: #0056b3;
}
